<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <!-- TODO: Meta -->
  <head>
    {{ partial "scss" . }}
  </head>
  <body>
    {{ partial "nav" . }}
    <hr>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <hr>
    {{ partial "footer" . }}
    {{ partial "scripts" . }}
  </body>
</html>

